/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card-content {
    margin: 0 16px;
    padding-top: 30px;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    width: 300px;
}

mat-card-actions {
    text-align: right;
}

.panel {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1.5%;
}